/*
 * 图片精灵
 */
.sprite {
  background: url(/cdn_images/sprite.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
/*布局*/
/* 使用ul li 布局基类 包含 清楚浮动 box-sizing */
.layout {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.row-1 {
  width: 8.33333333%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-2 {
  width: 16.66666667%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-3 {
  width: 25%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-4 {
  width: 33.33333333%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-5 {
  width: 41.66666667%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-7 {
  width: 58.33333333%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-8 {
  width: 66.66666667%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-9 {
  width: 75%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-10 {
  width: 83.33333333%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-11 {
  width: 91.66666667%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-12 {
  width: 100%;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 1px;
}
.row-offset-1 {
  margin-left: 8.33333333%;
}
.row-offset-2 {
  margin-left: 16.66666667%;
}
.row-offset-3 {
  margin-left: 25%;
}
.row-offset-4 {
  margin-left: 33.33333333%;
}
.row-offset-5 {
  margin-left: 41.66666667%;
}
.row-offset-6 {
  margin-left: 50%;
}
.row-offset-7 {
  margin-left: 58.33333333%;
}
.row-offset-8 {
  margin-left: 66.66666667%;
}
.row-offset-9 {
  margin-left: 75%;
}
.row-offset-10 {
  margin-left: 83.33333333%;
}
.row-offset-11 {
  margin-left: 91.66666667%;
}
.row-offset-12 {
  margin-left: 100%;
}
.row-nest {
  padding: 0;
}
.layout-border > .row-1,
.layout-border > .row-2,
.layout-border > .row-3,
.layout-border > .row-4,
.layout-border > .row-5,
.layout-border > .row-6,
.layout-border > .row-7,
.layout-border > .row-8,
.layout-border > .row-9,
.layout-border > .row-10,
.layout-border > .row-11,
.layout-border > .row-12 {
  border-left: 1px solid #eeeeee;
}
.layout-border > li:first-child {
  border-left: none;
}
.layout-margin-sm {
  margin: 15px 0;
}
.layout-margin-md {
  margin: 20px 0;
}
.layout-margin-lg {
  margin: 30px 0;
}
body {
  font-family: "微软雅黑", 'Microsoft Yahei', STXihei, "宋体", "黑体", arial, sans-serif;
}
.crowd {
  background: url(../img/crowdfunding/bg.jpg) repeat center top;
  background-size: 100% auto;
}
.crowd-top {
  background: url(../img/crowdfunding/top-bg.png) repeat;
  padding: 15px 0;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 4;
  width: 100%;
}
.section,
.slide {
  position: relative;
}
.section img,
.slide img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
}
.s5 {
  background: url(../img/crowdfunding/5.png) repeat center top;
  background-size: 100% auto;
  padding: 0 30px;
  padding-top: 80px;
}
.mybtn {
  display: inline-block;
  padding: 0 30px;
  line-height: 42px;
  color: #fff;
  background: #ef6081;
}
.fixed-footer {
  position: fixed;
  bottom: 20px;
  background: url(../img/crowdfunding/footer.png) no-repeat center top;
  height: 24px;
  width: 100%;
  background-size: auto 24px;
}
.clearfix:before,
.clearfix:after,
.layout:before,
.layout:after {
  content: " ";
  display: table;
}
.clearfix:after,
.layout:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
